.input-box{
  width: 100%;
  height: 50px;
  display: flex; 
  justify-content: center; 
}

.label-base{
  width: 50%;
  height: 55px;  
  color: white; 
  font-weight: bold;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;  
}


.input-base{
  width: 70%; 
  height: 100%;
  border-style: solid; 
  border-radius: 4px; 
  outline: none; 
}