.overlay{
  position: absolute;
  top: 0;
  left: 0;  
  height: 100vh;
  width: 100%;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.modal{
  width: 50%; 
  height: 50%;
  background-color: blue; 
}

.modal form{
  padding-top: 10px; 
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  gap: 10px; 
  

}

.modal h2{
  text-align: center;
}